<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>controller.customer.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.auth.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>controller.auth.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>controller.auth.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>controller.customer.MyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>controller.customer.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.makerting.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>controller.customer.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEmail</servlet-name>
        <servlet-class>controller.auth.registerEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateRegisterOtp</servlet-name>
        <servlet-class>controller.auth.ValidateRegisterOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.makerting.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>controller.customer.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEmail</servlet-name>
        <servlet-class>controller.auth.registerEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateRegisterOtp</servlet-name>
        <servlet-class>controller.auth.ValidateRegisterOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.makerting.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/Header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/auth/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/auth/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/auth/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/auth/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerEmail</servlet-name>
        <url-pattern>/auth/registerEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateRegisterOtp</servlet-name>
        <url-pattern>/auth/validateregisterotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/MyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/cusdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/view/ProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/view/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail_user</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/home</welcome-file>
        <welcome-file>view/home</welcome-file>
    </welcome-file-list>
</web-app>
